<table border=1>
    <tr>
        <td>Mata Kuliah</td>
        <td>Nilai</td>
    </tr>
    <tr>
        <td>AOk</td>
        <td>D</td>
    </tr>
    <tr>
        <td>Statdas</td>
        <td>B</td>
    </tr>
</table>